*{
	padding: 0;
	margin: 0;
	text-align: center;
}
h1{
	color:#0d0b0b;
	font-size: 1.6em;
	font-family: 'Lato', sans-serif;
}
h2{
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	color:#0d0b0b;
	padding: 8px;
}
a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 0.6em;
	color:#ffffff;
	padding: 5px 15px;
	background-color:#02db2e;
}
p{
	margin:10px;
	line-height: 1.8em;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
}
header{
	padding: 15px;
}
header p{
	font-size: 1em;
}
i{
	font-size: 1.5em;
	color:#ffffff;
	padding: 12px;
	background-color:#180691;
	border-radius: 50%; 
}
.container{
	display: grid;
	justify-items:center;
	text-align: center;

}
.wrapper{
	width: 70%;
}
.wrapper section{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap:30px;
	grid-row-gap:30px;
}
@media screen and (min-width: 300px){
	.wrapper section{
		grid-template-columns:1fr;
	}
}
article{
	display: grid;
	border: 1px solid #d1cfcb;
	padding: 10px 0;
	justify-items:center;
}